<div class="main-screen">
  <header>
    <a href="https://www.ucaribe.edu.mx" target="_blank">
      <img 
        src="https://moodle.ucaribe.edu.mx/pluginfile.php/1/theme_eguru/logo/1740775694/LOGO%20UNI%20-05%20%281%29.png"
        alt="Logo Universidad del Caribe"
        class="logo"
      >
    </a>
  </header>

  <div class="menu-content">
    <h1 class="title">ECOPLAN</h1>

    <div class="menu-options">
      <button class="menu-button" (click)="jugar()">JUGAR</button>
      <button class="menu-button" (click)="comoJugar()">¿CÓMO JUGAR?</button>
      <button class="menu-button" (click)="creditos()">CRÉDITOS</button>
    </div>
  </div>

<footer class="watermark">
  Desarrollado por EcoCybers © 2025
</footer>

</div>
